:root {
  --color-primary: #ff7a00;
  --color-secondary: #ff9a3d;
  --color-background: #ffcd9e;
  --color-accent: #000000;
}

/* Typography */
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}

.nav {
    background: var(--color-background);
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 2rem;
  }